POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres

APP_PORT=5000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

WB_TARIFFS_URL=https://common-api.wildberries.ru/api/v1/tariffs/box
WB_API_TOKEN=

GOOGLE_SA_KEY_FILE=/run/secrets/google-sa.json
SPREADSHEET_IDS=
SHEET_NAME=stocks_coefs

TIMEZONE=Europe/Moscow
APP_PORT=5050